{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section class="hero-wrap hero-wrap-2  " style="background-image: url({% static 'images/kolik.jpg'%});">
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
			</div>
		  </div>
		</div>
	  </section>
	  
  <div class="hero-wrap hero-wrap-2">
  
  <h1  class="text-center">Ma'naviy-ma'rifiy tadbirlar</h1><br>
  <h2  class="text-center">О'tkazilgan ma'naviy-marifiy tadbirlardan lavhalar</h2>  

  </div>
	  <section class="ftco-gallery">
		<div class="container-wrap">
		  <div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD1.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD1.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD2.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD2.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD3.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD3.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD5.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD5.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
  
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD6.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD6.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD7.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD7.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD8.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD8.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>
			<div class="col-md-3 ftco-animate">
			  <a href="{% static 'images/TAD9.jpg'%}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/TAD9.jpg'%});">
				<div class="icon mb-4 d-flex align-items-center justify-content-center">
				  <span class="icon-instagram"></span>
				</div>
			  </a>
			</div>            
		  </div>
		</div>
	  </section>




	  
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

{% endblock %}