<div class="container-fluid bg-primary text-white mt-5 pt-5 px-sm-3 px-md-5">
	<div class="row pt-5">
		<div class="col-lg-5     col-md-6 mb-5">
			<a href="{% url  'index'  %}"><h1 style="color:red ;" class=" mb-3"><span style="color: black;">GRAND</span>BANNER</h1></a>
			<p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sit no, sed kasd et ipsum dolor duo dolor</p>
			<div class="d-flex justify-content-start mt-4">
				<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
				<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
				<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
				<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	
		<div class="col-lg-3 col-md-6 mb-5 ml-5">
			<h4 class="text-white mb-4">lorem</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est porro architecto quo beatae laudantium nulla debitis accusamus repudiandae temporibus. Placeat?</p>
			<p><i class="fa fa-map-marker-alt mr-2"></i>bukhara gijduvon</p>
			<p><i class="fa fa-phone-alt mr-2"></i>+9989123456789</p>
			<p><i class="fa fa-envelope mr-2"></i>test@gmail.com</p>
		</div>
		<div class="col-lg-3 col-md-6 mb-5 ml-7 ">
			<h4 class="text-white mb-4">Menu</h4>
			<div class="d-flex flex-column justify-content-start">
				<a class="text-white mb-2" href="{% url 'index' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
				<a class="text-white mb-2" href="{% url 'foto'%}"><i class="fa fa-angle-right mr-2"></i>foto</a>
				<a class="text-white mb-2" href="{% url 'video'%}"><i class="fa fa-angle-right mr-2"></i>video</a>
				<a class="text-white mb-2" href="{% url 'Get_Product'%}"><i class="fa fa-angle-right mr-2"></i>blog</a>
				<a class="text-white" href="{% url 'contact'%}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
			</div>
		</div>
	
	</div>
</div>
<!-- <div class="container-fluid bg-dark text-white py-4 px-sm-3 px-md-5">
	<p class="m-0 text-center text-white">
		&copy; <a class="text-white font-weight-medium" href="#">Your Site Name</a>. All Rights Reserved. Designed by
		<a class="text-white font-weight-medium" href="">full-services group </a>
	</p>
</div> -->
<svg style="position:fixed; top:100vh;">
  <defs>
	<filter id="blob">
	  <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
	  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
	  <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
	</filter>
  </defs>
</svg>
	<!-- <div class="container-fluid bg-dark text-white mt-3 pt-1 px-sm-3 px-md-5">
		<div class="row pt-0.5">
			<div class="col-lg-3 col-md-6 mb-0.5">
				<a href=""><h1 class="text-secondary mb-3"><span class="text-white">GRAND</span>BANNER</h1></a>
				
				<div class="d-flex justify-content-start mt-4">
	  
					<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://t.me/grandbanner11"><i class="fab fa-telegram"></i></a>
					<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
					<a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="tel:+998914188585"><i class="fa-regular fa-square-phone"></i></a>

				</div>
			</div>
		  
			
			</div>
			
		</div>
	</div>
	<div class="container-fluid bg-dark text-white py-4 px-sm-3 px-md-5">
		<p class="m-0 text-center text-white">
			&copy; <a class="text-white font-weight-medium" href="#"></a> КОМАНДА
			<a class="text-white font-weight-medium" href="https://telegram.me/full_services_admin">FULL-SERVICES GROUP</a>
		</p>
	</div> -->
	<!-- Footer End -->

</footer>