{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- END nav -->
	<style>
		.fff{
			width: 40%;
			height: 40%;
		}
	</style>
		
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="static\images\FON2.jpg" class="fff" alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<img   src="{%  static  'images/FON2.jpg' %}"   class="fff" 	 alt="">
							</div>
							<div class="text pt-3 text-center">
								<h3>lorem</h3>
								<span class="position mb-2">lorem</span>
								<div class="faded">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea laborum amet iusto.</p>
								
	              </div>
							</div>
						</div>
					</div> 	
				</div>
			</div>
		</section>


  <!-- loader -->

{% endblock %}