{% extends 'base.html' %}
{% load static %}


{% block content %}



  <!-- Carousel Start -->
  <div class="container-fluid p-0">
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="w-100" src="{% static 'images/r-4.jpg' %}" alt="Image" style="width: 20%; height: 50%; ">
                  <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                      <div class="p-3" style="max-width: 900px;">
                          <h4 class="text-white text-uppercase mb-md-3">BANNER & EKRAN REKLAMALARI</h4>
                          <h1 class="display-3 text-white mb-md-4">Siz uchun eng yaxshisi</h1>
                          <a href="" class="btn btn-dark py-md-3 px-md-5 mt-2">Yana Ko'proq</a>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="w-100" src="{% static 'images/r-7.jpg' %}" alt="Image">
                  <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                      <div class="p-3" style="max-width: 900px;">
                          <h4 class="text-white text-uppercase mb-md-3">Professional & DIZAYNERLAR </h4>
                          <h1 class="display-3 text-white mb-md-4">Yuqori sifatli xizmatlar</h1>
                          <a href="" class="btn btn-danger py-md-3 px-md-5 mt-2"  >Yana Ko'proq</a>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
              <div class="btn btn-danger" style="width: 45px; height: 45px;">
                  <span class="carousel-control-prev-icon mb-n2"></span>
              </div>
          </a>
          <a class="carousel-control-next" href="#header-carousel" data-slide="next">
              <div class="btn btn-danger" style="width: 45px; height: 45px;">
                  <span class="carousel-control-next-icon mb-n2"></span>
              </div>
          </a>
      </div>
  </div>
  <!-- Carousel End -->


  <!-- Contact Info Start -->
  <div class="container-fluid contact-info mt-5 mb-4">
      <div class="container" style="padding: 0 30px;">
          <div class="row">
              <div class="col-md-4 d-flex align-items-center justify-content-center  mb-4 mb-lg-0" style="height: 100px; border: 4.5px solid rgba(255, 0, 0, 0.468) ;  border-radius: 35px 0px 0px 0px;">
                  <div class="d-inline-flex">
                      <i class="fa fa-2x fa-map-marker-alt text-dark m-0 mr-3"></i>
                      <div class="d-flex flex-column">
                          <h5 class="text-dark font-weight-medium">Manzil</h5>
                          <p class="m-0 text-dark">G'ijduvon, Bukhara</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0" style="height: 100px; border: 4.5px solid rgb(255, 0, 0, 0.468);">
                  <div class="d-inline-flex text-left">
                      <i class="fa fa-2x fa-envelope text-dark m-0 mr-3"></i>
                      <div class="d-flex flex-column">
                          <h5 class="text-bark font-weight-medium">Email</h5>
                          <p class="m-0 text-dark">test@gmail.com</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0" style="height: 100px; border: 4.5px solid rgba(255, 0, 0, 0.468);  border-radius: 0px 35px 0px 0px;">
                  <div class="d-inline-flex text-left">
                      <i class="fa fa-2x fa-phone-alt text-dark m-0 mr-3"></i>
                      <div class="d-flex flex-column">
                          <h5 class="text-dark font-weight-medium">Tel:</h5>
                          <p class="m-0 text-dark">+998 91 234 56 78</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact Info End -->
  <!-- Services Start -->
  <div class="container-fluid pt-5 pb-3">
      <div class="container">
          <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">lorem</h6>
          <h1 class="display-4 text-center mb-5">lorem</h1>
          <div class="row">
              <div class="col-lg-3 col-md-6 pb-1">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                          <i class="fa fa-3x fa-hand-peace text-secondary"></i>
                      </div>
                      <h4 class="font-weight-bold m-0">lorem</h4>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 pb-1">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-3x fa-hand-peace text-secondary"></i>
                      </div>
                      <h4 class="font-weight-bold m-0">lorem</h4>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 pb-1">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-3x fa-hand-peace text-secondary"></i>
                      </div>
                      <h4 class="font-weight-bold m-0">lorem</h4>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 pb-1">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                          <i class="fa fa-3x fa-hand-peace text-secondary"></i>
                      </div>
                      <h4 class="font-weight-bold m-0">lorem</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Services End -->


  <!-- Features Start -->
  <div class="container-fluid py-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                  <h6 class="text-secondary text-uppercase font-weight-medium mb-3">lorem</h6>
                  <h1 class="mb-4">lorem</h1>
                   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sapiente, consequatur, quo  laboriosam asperiores. Esse, modi necessitatibus!</p>
                  <div class="row">
                      <div class="col-sm-6 mb-4">
                          <h1 class="text-secondary" data-toggle="counter-up">20</h1>
                          <h5 class="font-weight-bold">lorem</h5>
                      </div>
                      <div class="col-sm-6 mb-4">
                          <h1 class="text-secondary" data-toggle="counter-up">19042</h1>
                          <h5 class="font-weight-bold">lorem</h5>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="d-flex flex-column align-items-center justify-content-center bg-secondary h-100 py-5 px-3">
                      <i class="fa fa-5x fa-comments text-white mb-5"></i>
                      <h1 class="display-1 text-white mb-3">+999</h1>
                      <h1 class="text-white m-0">lorem</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Features End -->


  <!-- Working Process Start -->
  <div class="container-fluid pt-5">
      <div class="container">
          <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Ishimiz Bilan Tanishing</h6>
          <h1 class="display-4 text-center mb-5">Bizning Xizmatlar</h1>
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                          <h2 class="display-2 text-secondary m-0">1</h2>
                      </div>
                      <h3 class="font-weight-bold m-0 mt-2">Tashqi Reklama</h3>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                          <h2 class="display-2 text-secondary m-0">2</h2>
                      </div>
                      <h3 class="font-weight-bold m-0 mt-2">Ichki Reklama</h3>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                          <h2 class="display-2 text-secondary m-0">3</h2>
                      </div>
                      <h3 class="font-weight-bold m-0 mt-2">3D Harflar</h3>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                      <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                          <h2 class="display-2 text-secondary m-0">4</h2>
                      </div>
                      <h3 class="font-weight-bold m-0 mt-2">Ekran Xizmati</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Working Process End -->


  <!-- Pricing Plan Start -->
  <div class="container-fluid pt-5 pb-3">
      <div class="container">
          <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">LED EKRAN</h6>
          <h1 class="display-4 text-center mb-5">Ekran Tariflari</h1>
          <div class="row">
              <div class="col-lg-4 mb-4">
                  <div class="bg-light text-center mb-2 pt-4">
                      <div class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                          <h3 class="text-white">Standart</h3>
                          <h1 class="display-4 text-white mb-0">
                              <small class="align-top" style="font-size: 22px; line-height: 45px;">UZS</small><small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                          </h1>
                      </div>
                      <div class="d-flex flex-column align-items-center py-3">
                          <p>10 SEKUND</p>
                          <p>Ish Vaqti 7:30-00:30</p>
                          <p>BIR KUNDA 12000 marotaba</p>
                          <p>TAKRORLANISH VAQTI 2-3 Daqiqa</p>
                          
                      </div>
                      <a href="" class="btn btn-secondary py-2 px-4">Buyurtma Berish</a>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="bg-light text-center mb-2 pt-4">
                      <div class="d-inline-flex flex-column align-items-center justify-content-center bg-warning rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                          <h3 class="text-white">GOLD</h3>
                          <h1 class="display-4 text-white mb-0">
                              <small class="align-top" style="font-size: 22px; line-height: 45px;">UZS</small><small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                          </h1>
                      </div>
                      <div class="d-flex flex-column align-items-center py-3">
                          <p>15 SEKUND</p>
                          <p>Ish Vaqti 7:30-00:30</p>
                          <p>BIR KUNDA 12000 marotaba</p>
                          <p>TAKRORLANISH VAQTI 2-3 Daqiqa</p>
                      </div>
                      <a href="" class="btn btn-warning py-2 px-4">Buyurtma Berish</a>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="bg-light text-center mb-2 pt-4">
                      <div class="d-inline-flex flex-column align-items-center justify-content-center bg-primary rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                          <h3 class="text-white">Premium</h3>
                          <h1 class="display-4 text-white mb-0">
                              <small class="align-top" style="font-size: 22px; line-height: 45px;">UZS</small><small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                          </h1>
                      </div>
                      <div class="d-flex flex-column align-items-center py-3">
                          <p>20 SEKUND</p>
                          <p>Ish Vaqti 7:30-00:30</p>
                          <p>BIR KUNDA 12000 marotaba</p>
                          <p>TAKRORLANISH VAQTI 2-3 Daqiqa</p>
                      </div>
                      <a href="" class="btn btn-primary py-2 px-4">Buyurtma Berish</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pricing Plan End -->


  <!-- Blog Start -->
  <!-- <div class="container-fluid mt-5 pb-2"> -->
      <div class="container">
          <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">malumot</h6>
          <h1 class="display-4 text-center mb-5">Lorem ipsum dolor sit.</h1>
          <div class="row">
              <div class="col-lg-4 mb-2">
                  <div class="shadow mb-4">
                      <div class="position-relative">
                          <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                          <a href="" class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center   text-decoration-none p-4" style="top: 0; left: 0; background: rgba(0, 0, 0, .4);">
                              <h4 class="text-center text-white font-weight-medium mb-3">Dolor site amet clita kasd sanct ipsum</h4>
                              <div class="d-flex text-light">
                                  <small class="mr-2"><i class="fa fa-user text-secondary"></i> Admin</small>
                                  <small class="mr-2"><i class="fa fa-folder text-secondary"></i> Web Design</small>
                                  <small class="mr-2"><i class="fa fa-comments text-secondary"></i> 15</small>
                              </div>
                          </a>
                      </div>
                      <p class="m-0 p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptatum est omnis consectetur vitae fugit animi dolorum, neque culpa quidem possimus eaque. Dolorum maiores illum recusandae sit ipsum animi asperiores?</p>
                  </div>
              </div>
              <div class="col-lg-4 mb-2">
                  <div class="shadow mb-4">
                      <div class="position-relative">
                          <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
                          <a href="" class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center   text-decoration-none p-4" style="top: 0; left: 0; background: rgba(0, 0, 0, .4);">
                              <h4 class="text-center text-white font-weight-medium mb-3">Dolor site amet clita kasd sanct ipsum</h4>
                              <div class="d-flex text-light">
                                  <small class="mr-2"><i class="fa fa-user text-secondary"></i> Admin</small>
                                  <small class="mr-2"><i class="fa fa-folder text-secondary"></i> Web Design</small>
                                  <small class="mr-2"><i class="fa fa-comments text-secondary"></i> 15</small>
                              </div>
                          </a>
                      </div>
                      <p class="m-0 p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est odio id expedita eaque ad maxime esse tenetur magnam maiores iste sed, debitis, quas animi recusandae, eveniet tempora optio amet dolore?</p>
                  </div>
              </div>
              <div class="col-lg-4 mb-2">
                  <div class="shadow mb-4">
                      <div class="position-relative">
                          <img class="img-fluid w-100" src="img/blog-3.jpg" alt="">
                          <a href="" class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center   text-decoration-none p-4" style="top: 0; left: 0; background: rgba(0, 0, 0, .4);">
                              <h4 class="text-center text-white font-weight-medium mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi.</h4>
                              <div class="d-flex text-light">
                                  <small class="mr-2"><i class="fa fa-user text-secondary"></i> Admin</small>
                                  <small class="mr-2"><i class="fa fa-folder text-secondary"></i> Web Design</small>
                                  <small class="mr-2"><i class="fa fa-comments text-secondary"></i> 15</small>
                              </div>
                          </a>
                      </div>
                      <p class="m-0 p-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse blanditiis, illo perspiciatis quia vitae cum! Quibusdam dolores nisi minus expedita, id omnis ducimus corrupti cumque culpa, nostrum nulla numquam amet.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Blog End -->



<!-- loader -->
<!-- <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div> -->



{% endblock %}
